* {
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto', Verdana, sans-serif;
    padding: 0 0 0 0;
}

@font-face {
    font-family: amostely;
    src: url("../CSS/Fonts/AmostelySignature.ttf");
}

html {
}

body {
    text-align: center;
    height: 100%;
    background-color: #000;
    color: #fff;
}

canvas {
    display: block;
}

h1 {
    font-family: amostely, serif;
    font-size: 80px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2%;
}

form {
    margin: 0;
}

#name {
    margin-bottom: 2.5%;
    margin-left: 0.9%;
    display: inline;
    -webkit-border-image: -webkit-linear-gradient(left, #89c2da, #003c75) 100% 0 100% 0;
    background: transparent;
    color: lightgray;

}

#name[type="text"]:focus {
    outline: none;
}

.room-label {
    margin-left: -0.3%;
}
#gameMode-label {
    margin-top: -0.3%;
    margin-left: -22%;
}

.particles {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
#slider1{
    margin-left: 4.9%;
}
#slider2 {
    margin-top: 2.5%;
    margin-left: 3.8%;
}

#slider3 {
    margin-top: 2.5%;
}
#slider4 {
    margin-left: 8%;
    margin-top: 2.5%;
}
.slider {
    margin-bottom: 1.2%;
    margin-left: 4.3%;
    -webkit-appearance: none;
    width: 10.5%;
    height: 1px;
    border-radius: 5px;
    background: #89c2da;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .5s;
    transition: opacity .4s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border: 0;
    background: url('../CSS/Assets/icon.png');
    cursor: pointer;
}
.slider-value {
    margin-left: 0.2%;
}
.slider::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background: url('../CSS/Assets/icon.png');
    cursor: pointer;
}

.create-button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem;
    border: 1px solid transparent;
    border-radius: 10px;
    -webkit-transition: background-color .25s ease-out, color .25s ease-out;
    transition: background-color .25s ease-out, color .25s ease-out;
    -webkit-appearance: none;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #6e7f91;
    color: #fefefe;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1em 3em;
}

.create-button:hover, .create-button:focus {
    text-decoration: none;
    outline: none;
}

.create-button {
    margin-top: 0;
    border: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, .25);
    background: #57ffeb linear-gradient(to right, #20ded8, #00336d, #00336d, #40ded5);
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.create-button:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#toggle-label{
    margin-left: -18.4%;
    margin-top: 1.5%;
}
.switch input {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.switch {
    width: 180px;
    height: 55px;
    position: relative;
    margin-top: -2.5%;
    margin-left: 57.6%;
}
.switch label {
    display: block;
    width: 35%;
    height: 50%;
    position: relative;
    background: #1F2736; /*#121823*/
    background: linear-gradient(#121823, #161d2b);
    border-radius: 30px 30px 30px 30px;
    box-shadow:
            inset 0 3px 8px 1px rgba(0,0,0,0.5),
            inset 0 1px 0 rgba(0,0,0,0.5),
            0 1px 0 rgba(255,255,255,0.2);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;

}

.switch input ~ label i {
    display: block;
    height: 85%;
    width: 35%;
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 2;
    border-radius: inherit;
    background: #283446; /* Fallback */
    background: linear-gradient(#36455b, #283446);
    box-shadow:
            inset 0 1px 0 rgba(255,255,255,0.2),
            0 0 8px rgba(0,0,0,0.3),
            0 12px 12px rgba(0,0,0,0.4);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}


.switch label + span {
    content: "";
    display: inline-block;
    position: absolute;
    right: 52%;
    top: 13%;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #283446;
    box-shadow:
            inset 0 1px 0 rgba(0,0,0,0.2),
            0 1px 0 rgba(255,255,255,0.1),
            0 0 10px rgba(185,231,253,0),
            inset 0 0 8px rgba(0,0,0,0.9),
            inset 0 -2px 5px rgba(0,0,0,0.3),
            inset 0 -5px 5px rgba(0,0,0,0.5);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 2;
}

/* Toggle */
.switch input:checked ~ label + span {
    content: "";
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 2;
    background: #b9f3fe;
    box-shadow:
            inset 0 1px 0 rgba(0,0,0,0.1),
            0 1px 0 rgba(255,255,255,0.1),
            0 0 10px rgba(100,231,253,1),
            inset 0 0 8px rgba( 61,157,247,0.8),
            inset 0 -2px 5px rgba(185,231,253,0.3),
            inset 0 -3px 8px rgba(185,231,253,0.5);

}

.switch input:checked ~ label i {
    left: auto;
    left: 63%;
    box-shadow:
            inset 0 1px 0 rgba(255,255,255,0.2),
            0 0 8px rgba(0,0,0,0.3),
            0 8px 8px rgba(0,0,0,0.3),
            inset -1px 0 1px #b9f3fe;

    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}


@media screen and (min-width: 1400px) and (min-height: 750px ) and (max-height: 900px) and (max-width: 1700px){
    h1 {
        font-family: amostely, serif;
        font-size: 80px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 2%;
        margin-top: -0.5%;
    }

    .room-label {
        margin-left: 0.5%;
        padding-right: 7%;
    }

    .toggle-label {
        margin-top: 1.7%;
        margin-left: -13.1%;
        margin-bottom: 2.7%;
    }

    .create-button {
        margin-top: 0.5%;
        border: 0;
        text-shadow: 0 0 5px rgba(0, 0, 0, .25);
        background: #57ffeb linear-gradient(to right, #20ded8, #00336d, #00336d, #40ded5);
        background-size: 300% 100%;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
}

@media screen and (min-width: 700px) and (min-height: 750px) and (max-height: 970px) and (max-width: 950px) {
    h1 {
        font-weight: 300;
        text-align: center;
        margin-bottom: 5%;
        margin-top: 1.5%;
    }
    #switch {
        top: 38.5%;
        left: 72%;
        width: 55px;
        height: 30px;
    }

    .slider {
        margin-bottom: 1.2%;
        margin-left: 4.4%;
        -webkit-appearance: none;
        width: 15.5%;
        padding-right: 23%;
        height: 1px;
        border-radius: 5px;
        background: #89c2da;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .5s;
        transition: opacity .4s;
    }

    .room-label {
        margin-left: -1.5%;
        padding-right: 7%;
    }

    .toggle-label {
        margin-top: 3%;
        margin-left: -32.5%;
        margin-bottom: 3%;
    }
    #slider1{
        margin-left: 14.5%;
        margin-bottom: 1%;
    }
    #slider2{
        margin-top: 3%;
        margin-left: 11.5%;
    }
    #slider3{
        margin-top: 4.5%;
        margin-left: 12.2%;
    }
    #name {
        margin-bottom: 2.5%;
        margin-left: 14%;
        margin-right: -2%;
        display: inline;
        -webkit-border-image: -webkit-linear-gradient(left, #89c2da, #003c75) 100% 0 100% 0;
        background: transparent;
        color: lightgray;
        padding-left: -5px;
    }

    .create-button {
        margin-top: 3.5%;
        border: 0;
        text-shadow: 0 0 5px rgba(0, 0, 0, .25);
        background: #57ffeb linear-gradient(to right, #20ded8, #00336d, #00336d, #40ded5);
        background-size: 300% 100%;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    .slider {
        margin-bottom: 2%;
        -webkit-appearance: none;
        width: 18.5%;
        height: 1px;
        border-radius: 5px;
        background: #89c2da;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .5s;
        transition: opacity .4s;
    }

}